$bg: #1A1B26;
$color: #FFFFCC;

* {
  all: unset;
  font-size: 18px;
  font-weight: bold;
  font-family: FiraCodeNerdFont;
}

popover {
  background: $bg;
  border: 3px solid $color;
  border-top: none;
  border-radius: 0 0 10px 10px;
  padding: 5px 20px 5px 20px;
  min-height: 10px;
}

#bar {
  background: $bg;
  min-height: 32px;
}

.mpris {
  background: $bg;
}

.workspace {
  padding: 3px;
  border-top: 2px solid transparent;
}
.workspace:hover {
  border-top: 2px solid white;
}
.workspace.focused {
  background-color: white;
  color: black;
}

.metric {
  border-bottom: 2px solid;
  padding-bottom: 2px;
}
.metric:hover {
  border-bottom: 4px solid;
  padding-bottom: 0px;
}

.speaker-metric {
  color: violet;
  border-color: violet;
}
.mic-metric {
  color: #e64;
  border-color: #e64;
}
.battery-metric {
  color: lightgreen;
  border-color: lightgreen;
}
.network-metric {
  color: #7ff;
  border-color: #7ff;
}
.clock-metric > label {
  min-width: 130px;
}

scale {
  min-width: 200px;
  min-height: 20px;
}
trough {
  min-width: 200px;
  min-height: 20px;
  background: rgba(0, 0, 0, 0.5);
}
highlight {
  background: white;
}
slider {
  visibility: hidden;
}

.mpris-button {
  color: rgba(255, 255, 255, 0.5)
}
.mpris-button:disabled {
  color: rgba(255, 255, 255, 0.1)
}
.mpris-button:hover {
  color: rgba(255, 255, 255, 0.8)
}
.mpris-button:active {
  color: rgba(255, 255, 255, 1)
}
