$bg: #1A1B26;
$color: #FFFFCC;

* {
  all: unset;
  font-size: 18px;
  font-weight: bold;
  font-family: FiraCodeNerdFont;
}

popover {
  background: $bg;
  border: 3px solid $color;
  border-top: none;
  border-radius: 0 0 10px 10px;
  padding: 5px 20px 5px 20px;
  min-height: 10px;
}

#bar {
  background: $bg;
}

#right {
  background: $bg;
}

.clock {
  min-width: 150px;
}

.workspace {
  padding: 3px;
  border-top: 2px solid transparent;
}
.workspace:hover {
  border-top: 2px solid white;
}
.workspace.focused {
  background-color: white;
  color: black;
}
