$bg: #1A1B26;
$color: #FFFFCC;

* {
  all: unset;
  font-size: 18px;
  font-weight: bold;
  font-family: FiraCodeNerdFont;
}

popover {
  background: $bg;
  border: 1px solid $color;
}

#bar {
  background: $bg;
  min-height: 32px;
}

.mpris {
  background: $bg;
  padding: 8px;
}

.calendar {
  background: $bg;
  padding: 8px;
}

.workspace {
  padding: 3px;
  border-top: 2px solid transparent;
}
.workspace:hover {
  border-top: 2px solid white;
}
.workspace.focused {
  background-color: white;
  color: black;
}

.metric {
  border-bottom: 2px solid;
  padding-bottom: 2px;
}
.metric:hover {
  border-bottom: 4px solid;
  padding-bottom: 0px;
}

.speaker-metric {
  color: violet;
}
.mic-metric {
  color: #e64;
}
.battery-metric {
  color: lightgreen;
}
.network-metric {
  color: #7ff;
}
.clock-metric > label {
  min-width: 130px;
}
.brightness-metric {
  color: #ff6;
}

scale {
  min-width: 200px;
  min-height: 15px;
}
trough {
  min-width: 200px;
  min-height: 15px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}
highlight {
  background: white;
  border-radius: 0px;
}
highlight:disabled {
  background: gray;
}

.mpris-button {
  color: rgba(255, 255, 255, 0.5)
}
.mpris-button:focus {
  color: rgba(240, 190, 20, 0.7);
}
.mpris-button:focus:active {
  color: rgba(250, 190, 50, 1);
}
.mpris-button:disabled {
  color: rgba(255, 255, 255, 0.1)
}
.mpris-button:hover {
  color: rgba(255, 255, 255, 0.8)
}
.mpris-button:active {
  color: rgba(255, 255, 255, 1)
}
.mpris-button:focus:hover:active {
  color: rgba(255, 255, 255, 1)
}

.mpris-title {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-size: 16px;
}
.mpris-artist {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}

tooltip {
  background-color: $bg;
  padding: 8px;
}
tooltip label {
  font-size: 16px;
}

calendar .other-month {
  color: #ffffff44;
}
calendar grid label {
  margin: 0;
  padding: 0;
}
calendar .today {
  border: 2px solid #f66a;
  border-radius: 100px;
}
